@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    color: #F1F1F1;
}
#welcome-section{
    text-align: center;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background-image: linear-gradient(62deg, #38201E 0%, #4F2F27 100%);
}
#welcome-p{
    color: #FF8364;
}
#projects{
    background-color: #452235;
    width: 100%;
    height: 100vh;
    text-align: center;
}
#project-title{
    margin: 0;
    padding: 25vh 0 25vh 0;
    display: flex;
    justify-content: center;
}
#project{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.project{
    padding: 0 3vw 0 3vw;
    display: flex;
    flex-direction: column;
}
.project-tile{
    color: #F1F1F1;
    text-decoration: none;
    background-color: #453127;
    padding: 3vh 0 3vh 0;
}
.project-img{
    height: 24vh;   
}
#navbar{
    display: flex;
    position: fixed;
    flex-direction: row-reverse;
    width: 100%;
    background-color: #38201E;
    padding: 5vh 500px 5vh 0;
}
.nav-elements{
    padding-right: 30px;
    color: #F1F1F1;
}
@media (max-width: 28.75em) {
    html {
      font-size: 55%;
    }
}