@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  color: #F1F1F1;
}

@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}