#welcome-section{
    text-align: center;
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background-image: linear-gradient(62deg, #16161a 0%, #363636 100%);
}
#welcome-p{
    color: #FF8364;
}
#projects{
    background-image: linear-gradient(360deg, #242427 0%, #616060 100%);
    width: 100%;
    height: 140vh;
    text-align: center;
}
#project-title{
    margin: 0;
    padding: 25vh 0 25vh 0;
    display: flex;
    justify-content: center;
}
#project{
    display: grid;
    grid-template-columns: 43vh 43vh 43vh;
    grid-template-rows: 1fr 1fr;
    grid-gap: 80px;
    justify-content: center;
    justify-items: center;
}

#grid-item4{
    grid-column: 2/3;
    grid-row: 2/3;
}

.project{
    display: flex;
    flex-direction: column;
}
.project-tile{
    color: #F1F1F1;
    text-decoration: none;
    background-color: #504946;
    padding: 3vh 0 3vh 0;
}
.project-tile:hover{
    background-color: #444342;
    color: #ec830a;
    transition: 0.8s;
}

.project-img{
    height: 24vh;   
}
#navbar{
    display: flex;
    position: fixed;
    flex-direction: row-reverse;
    width: 100%;
    background-image: linear-gradient(62deg, #16161a 0%, #363636 100%);
    padding: 3vh 500px 3vh 0;
    font-size: 1.2em;
    z-index: 2;
}
.nav-elements{
    padding-right: 30px;
    color: #F1F1F1;
}
.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

#contact-section{
    background-color: #242427;
    width: 100%;
    height: 16vh;
    text-align: center;
}

.contact-details{
    text-decoration: none;
    padding: 30px;
    color: #F1F1F1;
}

.contact-details:hover {
    transition: 0.8s;
    color: #fffbfb;
}